{% extends 'core/base.html' %}
{% load static i18n %}

{% block content %}
    <div class="container">
        <h3 class="text-center text-danger fw-bold pb-5">{% trans "Who Wants to Be a Millionaire!" %}</h3>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a
                                class="nav-link {% if 'sign-up' in request.path %}active{% endif %}"
                                href="{% url 'user:sign-up' %}"
                                role="tab"
                        >
                            {% trans "Sign Up" %}
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a
                                class="nav-link {% if 'sign-in' in request.path %}active{% endif %}"
                                href="{% url 'user:sign-in' %}"
                                role="tab"
                        >
                            {% trans "Sign In" %}
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade pt-4 show active" role="tabpanel">
                        {% block tab_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
