{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block content %}
    <div class="container">
        {% include 'core/_messages.html' with messages=messages %}

        <div class="row">
            <div class="col-xl-8 mb-4 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body">
                        <form method="post" action="{% url 'user:profile' %}">
                            {{ profile_form.non_field_errors }}
                            {% csrf_token %}

                            {% for field in profile_form %}
                                {% include 'core/_input_horizontal.html' with field=field %}
                            {% endfor %}

                            <input type="hidden" name="form_type" value="profile">

                            <button type="submit" class="btn btn-danger">{% trans "Save" %}</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mb-4 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title text-danger">{% trans "Change Password" %}</h5>

                        <form method="post" action="{% url 'user:profile' %}">
                            {{ change_password_form.non_field_errors }}
                            {% csrf_token %}

                            {% for field in change_password_form %}
                                {% include 'core/_input_vertical.html' with field=field %}
                            {% endfor %}

                            <input type="hidden" name="form_type" value="change_password">

                            <button type="submit" class="btn btn-danger">{% trans "Change" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        id_birthdate.max = new Date().toISOString().split("T")[0];
    </script>
{% endblock %}
