{% extends 'user/auth_base.html' %}
{% load static widget_tweaks %}

{% block title %}Sign In{% endblock %}

{% block tab_content %}
    <form
            method="post"
            action="{% url 'user:sign-in' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
    >
        {{ form.non_field_errors }}
        {% csrf_token %}

        {% for field in form %}
            {% include 'core/_input_horizontal.html' with field=field %}
        {% endfor %}

        <button type="submit" class="btn btn-danger">Sign In</button>
    </form>
{% endblock %}
