{% extends 'core/base.html' %}
{% load static %}

{% load static widget_tweaks %}

{% block title %}Game Space{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-2">
                <form method="post" action="{% url "game:game-space" game_identifier=game_identifier %}">
                    {% csrf_token %}

                    <div class="alert alert-primary">
                        {{ question.text }}
                    </div>

                    <div class="row">
                        {% for option in options %}
                            <div class="col-6">
                                {% if current_step_type == 'Q' %}
                                    <input
                                            class="btn-check"
                                            value="{{ option.id }}"
                                            type="radio"
                                            name="answer"
                                            id="{{ option.id }}"
                                    >
                                    <label
                                            class="btn btn-outline-primary w-100 mb-2 {{ option.html_class }}"
                                            for="{{ option.id }}"
                                    >
                                        {{ option.text }}
                                    </label>
                                {% elif current_step_type == 'R' %}
                                    <button
                                            type="button"
                                            class="btn w-100 mb-2 disabled {{ option.html_class }}"
                                    >
                                        {{ option.text }}
                                    </button>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="mt-3">
                        Question {{ display_step }} of 5
                    </div>

                    {% if current_step_type == 'R' %}
                        <button type="submit" class="btn btn-outline-danger mt-3">
                            Next Question
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('input[type=radio]').on('change', function () {
            $(this).closest("form").submit();
        });
    </script>
{% endblock %}
