{% load static i18n %}

<nav class="main-navbar navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
        <a class="navbar-brand text-danger fw-bold" href="{% url 'core:home' %}">
            <img class="pe-1" src="{% static 'core/images/logo.png' %}" alt="logo" width="30">
            {% trans "Millionaire" %}
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:home' %}">
                        {% trans "Home" %}
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                        >
                            <i class="fa fa-user pe-1"></i>
                            {% if user.get_full_name %}
                                {{ user.get_full_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'user:profile' %}">
                                    {% trans "Profile" %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user:sign-out' %}">
                                    {% trans "Sign Out" %}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
