{% extends 'core/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <a href="{% url 'game:game-space' game_identifier='new' %}" class="btn btn-danger btn-lg w-100 mb-4">
                    For Starting New Game Click Here
                </a>

                <ul class="list-group">
                    <li class="list-group-item list-group-item-secondary text-center">
                        List of Top Players
                    </li>

                    {% for top_player in top_players %}
                        <li class="list-group-item">
                            {{ forloop.counter }} -
                            {{ top_player.user__username }}
                            ({{ top_player.max_score }} point)
                        </li>
                    {% empty %}
                        <li class="list-group-item text-center">There is no game yet!</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
