{% extends 'core/base.html' %}
{% load static %}

{% block title %}Terms and Conditions{% endblock %}

{% block content %}
    <div class="container">
        <h3>1. General</h3>

        <p class="text-justify">
            This Web site is owned and operated by Millionaire or an Keep subsidiary or affiliate, collectively “we,” “us,”
            or “Millionaire.” Accessing the Site, in any manner, whether automated or otherwise, constitutes use of the Site,
            and your agreement to be bound by these Terms of Service. By using the Site, you agree to use the Site in
            accordance with these Terms of Service, our Privacy Policy, and any additional terms and conditions that may
            apply to specific sections of the Site or to products and services available on or through the Site.
        </p>

        <p class="text-justify">
            We reserve the right to modify these Terms of Service at any time, in which case the revised Terms of
            Service will appear on the Site. Continued use of the Site after we post any such changes will constitute
            your acceptance of the Terms of Service, as modified.
        </p>

        <h3>2. Intellectual Property Rights</h3>

        <p class="text-justify">
            We provide the Site for personal noncommercial use only. You may only use this Site and the materials on it
            as authorized by us. You may not use this Site or the materials on it in any manner that violates the
            privacy rights, publicity rights, copyrights, trademark rights, patent rights, contract rights, or any other
            rights belonging to us. We reserve the right, at any time and without notice, to suspend, cancel, or
            terminate your right to use the Site (or any portion of the Site) for violation (whether repeated or not) of
            copyrights or any other rights belonging to us. Unless authorized in these Terms of Service or by the owner
            of the materials, you may not modify, copy, reproduce, republish, upload, post, transmit, translate, sell,
            create derivative works, exploit, or distribute in any manner or medium (including by e-mail or other
            electronic means) any material from the Site.
        </p>

        <h3>3. Registration and Passwords </h3>

        <p class="text-justify">
            To access certain features of the Site, we may ask you to provide personally identifiable information such
            as your name, e-mail address, and date of birth. You will provide true, accurate, current, and complete
            information about yourself for any registration form located on the Site. Our use of any personally
            identifiable information you provide to us as part of the registration process is governed by the terms of
            our Privacy Policy.
        </p>

        <p class="text-justify">
            You may need a username and password to use certain features of the Site. By registering on the Site, you
            agree that you will not (i) select or use a username or e-mail address of another person with the intent to
            impersonate that person; (ii) use a username or e-mail address subject to the rights of any person without
            authorization; (iii) use a username in violation of the intellectual property rights of any person; or (iv)
            use a username that we, in our sole discretion, deem inappropriate or offensive. You are responsible for
            maintaining the confidentiality of the password and account, and are responsible for all activities (whether
            by you or by others) that occur under your password or account. You will notify us immediately of any
            unauthorized use of your password or account or any other breach of security. We assume no liability for any
            loss or damage arising from any unauthorized use of your password or account by a third party.
        </p>

        <h3>Use of Directories</h3>

        <p class="text-justify">
            The information contained in any directories that may be provided on the Site is provided for visitor
            information only and is not to be used for marketing or telemarketing applications. This information may not
            be copied or redistributed and is provided “AS IS” without warranty of any kind. Neither we, nor our
            suppliers, will be liable in any way with regard to such information. Furthermore, this directory has been
            used for the providing of a serious game for research goals.
        </p>

        <h3>Privacy Policy</h3>

        <p class="text-justify">
            Millionaire is committed to maintaining your trust by respecting and protecting your privacy. This Privacy Policy
            describes why and how we collect, use, share, and protect personal data collected from and about members,
            volunteers, donors, program participants, job applicants, and others – both online and offline.
        </p>

        <h3>Collection and Use</h3>

        <p class="text-justify">
            We collect and use personal data from or about you to help us support our non-profit mission and serve our
            membership. We collect such data in various ways, including data you provide to us, data we collect by
            automated means, and data we collect from other sources.
        </p>

        <h3>Security</h3>

        <p class="text-justify">
            We use administrative, technical, and physical security measures designed to protect personal data against
            accidental, unlawful, or unauthorized destruction, loss, alteration, access, disclosure, or use.
        </p>
    </div>
{% endblock %}
